<section class="w3l-inner-banner-main">
    <div class="about-inner contact">
        <div class="breadcrumbs-sub">
            <ul class="breadcrumbs-custom-path">
                <li class="right-side propClone"><a href="#" class="editContent">Inicio <span
                            class="fa fa-angle-right" aria-hidden="true"></span></a>
                    <p>
                </li>
                <li class="active editContent">
                    Login</li>
            </ul>
        </div>
    </div>
</section>
<!-- breadcrumbs //--><br>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="wrap d-md-flex">
                    <div class="img" style="background-image: url(assets/images/3.jpg);">
                    </div>
                    <div class="login-wrap p-4 p-md-5">
                        <div class="d-flex">
                            <div class="w-100">
                                <h3 class="mb-4">Iniciar sesión</h3>
                            </div>
                            <div class="w-100">
                                <p class="social-media d-flex justify-content-end">
                                    <a href="#"
                                        class="social-icon d-flex align-items-center justify-content-center"><span
                                            class="fa fa-facebook"></span></a>
                                    <a href="#"
                                        class="social-icon d-flex align-items-center justify-content-center"><span
                                            class="fa fa-twitter"></span></a>
                                </p>
                            </div>
                        </div>
                        <form action="" method="POST" class="signin-form">
                            <div class="form-group mb-3">
                                <label for="name">Correo</label>
                                <input name="rut" id="email" type="text" minlength="7" maxlength="12" class="form-control"
                                    placeholder="Ingrese su email" required>
                            </div>
                            <div class="form-group mb-3">
                                <label for="password">Contraseña</label>
                                <input class="form-control" pattern="(?=.*\d)(?=.*[a-záéíóúüñ]).*[A-ZÁÉÍÓÚÜÑ].*"
                                    title="Debe tener al menos una mayúscula, una minúscula y un dígito" maxlength="25"
                                    minlength="5" type="Password" placeholder="Contraseña" name="TxtPassword"
                                    required="">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary rounded submit px-3"
                                    name="Btn">Ingresar</button>
                            </div>
                        </form>
                        <p class="text-center">¿Aún no tienes tu cuenta? <a href="#">Registrarme</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <br><br><br><br>
</section>