<!-- breadcrumbs -->
<section class="w3l-inner-banner-main">
    <div class="about-inner contact">
        <div class="breadcrumbs-sub">
            <ul class="breadcrumbs-custom-path">
                <li class="right-side propClone"><a href="index.html" class="editContent">Inicio <span
                            class="fa fa-angle-right" aria-hidden="true"></span></a>
                    <p>
                </li>
                <li class="active editContent">
                    Todas las Habitaciones</li>
            </ul>
        </div>
    </div>
</section>
<!-- breadcrumbs //-->
<section class="w3l-covers-18">
    <div class="covers-main editContent">
        <div class="container">
            <div class="main-titles-head ">
                <h3 class="header-name">Habitaciones disponibles
                </h3>
                <p class="tiltle-para editContent ">El costo puede variar dependiendo el tipo de habitación, para
                    cuantas personas es y el numero de noches que se desea pasar.</p>
            </div>
            <div class="gallery-image row">
                <div class="col-lg-4 col-md-6">
                    <div class="img-box">
                        <img src="assets/images/b2.jpg" alt="product" class="img-responsive ">
                        <h5 class="my-2"><a href="about.html">Habitación sencilla</a></h5>
                        <div class="blog-date">
                            <p class="pos-date"><span class="fa fa-clock-o mr-1"></span>2 Días</p>
                            <p class="pos-date text-right"><span class="fa fa-users mr-1"></span>Máximo de personas: 1
                            </p>
                        </div>
                        <p class="para">Viernes, 9 de diciembre-
                            Domingo, 11 de diciembre
                            de 2022</p>
                    </div>
                </div>
                <div class=" col-lg-4 col-md-6 top-top2">
                    <div class="img-box">
                        <img src="assets/images/yo.jpg" alt="product" class="img-responsive ">
                        <h5 class="my-2"><a href="about.html">Habitación doble</a></h5>
                        <div class="blog-date">
                            <p class="pos-date"><span class="fa fa-clock-o mr-1"></span>4 Días</p>
                            <p class="pos-date text-right"><span class="fa fa-users mr-1"></span>Máximo de personas: 2
                            </p>
                        </div>
                        <p class="para">Viernes, 9 de diciembre-
                            Domingo, 13 de diciembre
                            de 2022.</p>
                    </div>
                </div>
                <div class=" col-lg-4 col-md-6 top-top2">
                    <div class="img-box">
                        <img src="assets/images/b1.jpg" alt="product" class="img-responsive ">
                        <h5 class="my-2"><a href="about.html">Habitación cuadruple</a></h5>
                        <div class="blog-date">
                            <p class="pos-date"><span class="fa fa-clock-o mr-1"></span>7 Días</p>
                            <p class="pos-date text-right"><span class="fa fa-users mr-1"></span>Máximo de personas: 4
                            </p>
                        </div>
                        <p class="para">Viernes, 9 de diciembre-
                            Domingo, 16 de diciembre
                            de 2022.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>