<section class="w3l-main-slider" id="home">
    <!-- main-slider -->
    <div class="companies20-content">
        <div class="owl-one owl-carousel owl-theme">
            <div class="item text-center">
                <li>
                    <div class="slider-info banner-view bg bg2" data-selector=".bg.bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg mr-auto">
                                    <h5>Riu<br>
                                        Mazatlán</h5>
                                    <p>Encontraste el mejor hotel todo incluido en Mazatlán para tu viaje</p>
                                    <a class="btn btn-theme2 mt-lg-5 mt-4" routerLink="habitaciones">Ver habitaciones 
                                        disponibles</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item text-center">
                <li>
                    <div class="slider-info  banner-view banner-top1 bg bg2" data-selector=".bg.bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg mr-auto">
                                    <h5>Conoce la mejor play de México<br>
                                    </h5>
                                    <p>Este hotel todo incluido 24 horas en Mazatlán te ofrece unas completas
                                        instalaciones que lo convierten en el mejor hotel en México para vivir una
                                        escapada inolvidable con RIU Hotels & Resorts.</p>
                                    <a class="btn btn-theme2 mt-lg-5 mt-4" href="contacto">Consulta tus
                                        vacaciones</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item text-center">
                <li>
                    <div class="slider-info  banner-view banner-top2 bg bg2" data-selector=".bg.bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg mr-auto">
                                    <h5>Somos el hotel más <br>
                                        reservado</h5>
                                    <p>El hotel se encuentra frente a la playa, a 16,5 km de la Plazuela Machado y a 40
                                        minutos en coche del Aeropuerto Internacional de Mazatlán. Ofrece piscinas para
                                        adultos y niños y programa de actividades diarias.</p>
                                    <a class="btn btn-theme2 mt-lg-5 mt-4" href="contacto">Consulta tus
                                        vacaciones</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </div>
    </div>
</section>

<section class="w3l-call-to-action_9">
    <div class="call-w3">
        <div class="container">
            <div class="booking-form-content">
                <div class="main-titles-head ">
                    <h3 class="header-name">¡Reciba correos electronicos con nuestras ofertas!
                    </h3>
                </div>
                <form class="booking-form">
                    <div class="row book-form">
                        <div class="form-input col-md-4 mt-3">
                            <label>Nombre</label>
                            <input type="text" name="" placeholder="Nombre" required="">
                        </div>
                        <div class="form-input col-md-4 mt-3">
                            <label>Correo</label>
                            <input type="email" name="email" placeholder="email" required="">
                        </div>
                        <div class="form-input col-md-4 mt-3">
                            <label>Ciudad de la que nos visita</label>
                            <input type="text" name="ciudad" placeholder="Ciudad" required="">
                        </div>
                        <div class="bottom-btn col-md-4 mt-3">
                            <label>Enviar</label>
                            <button class="btn btn-style btn-primary w-100 btn-style">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="w3l-specification-6">
    <div class="specification-layout editContent">
        <div class="container-fluid">
            <div class="row text-left img-grids">
                <div class="col-lg-6 p-0">
                    <div class="images-right">
                        <div class="p-md-5 p-3">
                            <h4><a href="">Habitacion Suite</a></h4>
                            <p>Las habitaciones tipo suites son ideales para viajeros de negocios, parejas de luna de
                                miel y personas que estén buscando quedarse más que unos pocos días en un destino. </p>

                        </div>
                    </div>
                </div>

                <div class="col-lg-6 p-0">
                    <div class="four-grids">
                        <div class="images-text">
                            <div class="ser-bg1">
                                <div class="p-md-5 p-3">
                                    <h4><a href="">PoolBar</a></h4>
                                    <p>Contamos con un bar en la alberca para adultos. </p>

                                </div>
                            </div>
                        </div>
                        <div class="images-text">
                            <div class="ser-bg4">
                                <div class="p-md-5 p-3">
                                    <h4><a href="">Toboganes</a></h4>
                                    <p>Juegos acuaticos para todas las edades. </p>

                                </div>
                            </div>
                        </div>
                        <div class="images-text">
                            <div class="ser-bg2">
                                <div class="p-md-5 p-3">
                                    <h4><a href="">piscina infantil</a></h4>
                                    <p>Chapoteadero exclisivo para infantes. </p>
                                </div>
                            </div>
                        </div>
                        <div class="images-text">
                            <div class="ser-bg3">
                                <div class="p-md-5 p-3">
                                    <h4><a href="">Rentaurante</a></h4>
                                    <p>Deleita los mas exquisitos platillos en nuestro restaurante. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="w3l-clients" id="client">
    <div class="call-w3">
        <div class="container text-center">
            <div class="title-head">
                <h3>Nosotros estamos contigo en cada <br>etapa de tu viaje</h3>
                <p>Nos aseguraremos que tengas unas vacaciones inolvidables.</p>
                <a class="btn btn-theme2 mt-lg-5 mt-4" href="contacto">Consulta tus vacaciones</a>
            </div>

        </div>
    </div>
</section>